{% extends '_base.html' %}

{% block title %}Disney+ Conversions{% endblock title %}

{% block scripts %}
    <script>
        $(document).ready(function(){
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: [{% for item in facebook %} '{{item.date}}', {% endfor %}],
                  datasets: [
                    {
                        label: 'Facebook',
                        data: [{% for item in facebook %} {{item.conversion}}, {% endfor %}],
                        showLine: true,
                        fill: false,
                        borderColor: 'rgba(0, 200, 0, 1)'
                    },
                    {
                        label: 'Adobe',
                        data: [{% for item in adobe %} {{item.conversion}}, {% endfor %}],
                        showLine: true,
                        fill: false,
                        borderColor: 'rgba(200, 0, 0, 1)'
                    },
                    {
                        label: 'DCM',
                        data: [{% for item in dcm %} {{item.conversion}}, {% endfor %}],
                        showLine: true,
                        fill: false,
                        borderColor: 'rgba(0, 0, 200, 1)'
                    },
                  ]
                },
                options: {
                  tooltips: {
                    mode: 'index',
                    intersect: false,
                  },
                  hover: {
                    mode: 'nearest',
                    intersect: true
                  },
                  scales: {
                    yAxes: [{
                      ticks: {
                        beginAtZero:true
                      }
                    }]
                  },
                }
              });
        });
    </script>
{% endblock scripts %}

{% block content %}
    <canvas id="myChart" width="400" height="200"></canvas>
{% endblock content %}